/controlato-ejb/target/
/controlato-web/target/
/controlato-ear/target/

docs/controlato-book.aux

docs/controlato-book.idx

docs/controlato-book.lof

docs/controlato-book.log

docs/controlato-book.lot

docs/controlato-book.out

docs/controlato-book.pdf

docs/controlato-book.synctex.gz

docs/controlato-book.toc
